JavaServer/.metadata/
JavaServer/Servers/
JavaServer/calzone/target/m2e-wtp/web-resources/META-INF/maven/com.vub/calzone/pom.properties
JavaServer/calzone/.classpath
JavaServer/calzone/.settings/org.eclipse.wst.common.component
JavaServer/calzone/bin/
JavaServer/calzone/src/main/java/com/vub/model/User.java.BACKUP.7832.java
JavaServer/calzone/src/main/java/com/vub/model/User.java.BASE.7832.java
JavaServer/calzone/src/main/java/com/vub/model/User.java.LOCAL.7832.java
JavaServer/calzone/src/main/java/com/vub/model/User.java.REMOTE.7832.java
