JavaServer/.metadata/
JavaServer/Servers/
JavaServer/calzone/target/m2e-wtp/web-resources/META-INF/maven/com.vub/calzone/pom.properties
JavaServer/calzone/.classpath
JavaServer/calzone/.settings/org.eclipse.wst.common.component
