<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%date{dd MMM yyyy @ HH:mm:ss.SSS} [%-5level]  %logger - "%msg"%n
			</pattern>
		</encoder>
	</appender>

	<appender name="LOG" class="ch.qos.logback.core.FileAppender">
		<file>log/CalZoneLog.log</file>
		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%date{dd MMM yyyy @ HH:mm:ss.SSS} [%-5level]  %logger - "%msg"%n
			</pattern>
		</encoder>
		<!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="DEBUGLOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>debugLog/CalZoneLog.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>debugLog/CalZoneLog.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{dd MMM yyyy @ HH:mm:ss.SSS} [%-5level]	%logger - "%msg"%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="org.optaplanner" level="debug" />

	<root level="debug">
		<!-- <appender-ref ref="STDOUT" />  -->
		<appender-ref ref="LOG" />
		<appender-ref ref="DEBUGLOG" />
	</root>
</configuration>