<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="calzonevub" />
		<property name="password" value="Bean59CabalCalzone" />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<bean id="mailMailActivation" class="com.vub.model.MailMail">
		<property name="mailSender" ref="mailSender" />
		<property name="simpleMailMessage" ref="customeMailMessage" />
		<property name="siteRoot" value="http://wilma.vub.ac.be:8181/calzone/"/>
	</bean>
	
	<bean id="mailMailPassword" class="com.vub.model.MailMail">
		<property name="mailSender" ref="mailSender" />
		<property name="simpleMailMessage" ref="customeMailMessagePassword" />
		<property name="siteRoot" value="http://wilma.vub.ac.be:8181/calzone/"/>
	</bean>

	<bean id="customeMailMessage" class="org.springframework.mail.SimpleMailMessage">

		<property name="from" value="calzonevub@gmail.com" />
		<property name="to" value="timbowitters@gmail.com" />
		<property name="subject" value="CalZone Activation Key" />
		<property name="text">
			<value>
			<![CDATA[
				Dear %s,
				Thank you for creating an account with CalZone.
				To activate your account please go to the following link: %s
				
				Kind Regards,
				Team Calzone
			]]>
			</value>
		</property>
	</bean>

	<bean id="customeMailMessagePassword" class="org.springframework.mail.SimpleMailMessage">

		<property name="from" value="calzonevub@gmail.com" />
		<property name="to" value="timbowitters@gmail.com" />
		<property name="subject" value="CalZone Activation Key" />
		<property name="text">
			<value>
			<![CDATA[
				Dear %s,
				You requested a reset of your password. 
				To pick a new password please go to the following link: %s
				
				If you did't request this message please, you can ignore this email.
				
				Kind Regards,
				Team Calzone
			]]>
			</value>
		</property>
	</bean>
</beans>