.profile-box {
	position: relative;
	padding: 30px 30px 30px 30px;
	min-height: 300px;
	background-color: #fff;
	background-color: #D7DADB;
	background-color: #F3F6F7;
	//background-color: #87887F;
	height:100%;
}

.outer-box {
	position: relative;
	padding: 30px 30px 30px 30px;
}

.navbar-default {
	background-color: #F3F6F7;
}