<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>calzoneServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/servlet-config.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.png</url-pattern> <!-- *.html -->	
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>calzoneServlet</servlet-name>
		<url-pattern>/</url-pattern> <!-- *.html -->
		
	</servlet-mapping>

	<display-name>Archetype Created Web Application</display-name>
	
		<resource-ref>
  		<description>
    		Resource reference to a factory for javax.mail.Session
    		instances that may be used for sending electronic mail
    		messages, preconfigured to connect to the appropriate
    		SMTP server.
  		</description>
  		<res-ref-name>
    		mail/Session
  		</res-ref-name>
  		<res-type>
    		javax.mail.Session
  		</res-type>
  		<res-auth>
    		Container
  		</res-auth>
	</resource-ref>
</web-app>